*,
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    --darkest: black;
    --darker: #1A1E21 ;
    --lighter-background: #353A48;
    --light-text: #D0D4D7;
    --med-light-text: #b3b8c3;
    --bright: #FFDB6A;
    --hover: #6E9ECF;
    --dark-text: #503F0F;
}

html, 
body,
.container {
    height: 100%;
    margin: 0; 
    padding: 0;
} 

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode";
    background-image: radial-gradient(var(--lighter-background), var(--darker));
}

.header-container {
    color: var(--bright);
    padding: 20px;
    font-size: 6vw;
    font-weight: lighter;
    text-shadow: 2px 2px 4px var(--darker);
}

header {
    display: inline-block;
}

#view-scores:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
    color: var(--hover);
}

.span-container {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    text-align: right;
}

span {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: right;
}

.container {
    /* padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; */
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.title-container {
    text-align: center;
    padding: 20px; 
    color: var(--light-text);
    height: em;
    margin: 0px;
}

.title-container h1 {
    font-size: 8vw;
    height: em;
    margin: 0px;
    text-shadow: 2px 2px 4px var(--darker);
}

.med-text {
    /* font-size: calc(25px + 0.390625vw); */
    font-size: 6vw;
    color: var(--med-light-text);
    text-shadow: 2px 2px 4px var(--darker);
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.questions {
    font-size: calc(40px + 0.390625vw);
    color: var(--med-light-text);
    text-shadow: 2px 2px 4px var(--darker);
    margin: 80px auto;
    text-align: left;
}

.button-container {
    text-align: center;
    height: 100%;
    width: 13em;
    margin: 0 auto;
    padding-top: 30px;
  }
  
/* .button-container::before { */
    /* content: " ";
    display: block; */
    /* width: 100%; */
    /* height: 2px; */
/* } */
  
/* .button-container::after { */
    /* content: " "; */
    /* display: block;
    clear: both; */
/* } */

#start-button {
    background-color: var(--bright);
    color: var(--darker);
    border-color: var(--darker);
    border-radius: 10px;
    box-shadow: 0 0 20px var(--darker);
    font-size: 6vw;
    height: 2em;
    width: 80%;
}

button:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
    background-color: var(--hover);
}

#submission-container {
    display: inline-block;
    width: 80%;
    text-align: left;
    align-self: center;

}

.label {
    margin-top: 10px;
    font: 50px;
    font-size: 6vw;
    color: var(--med-light-text);
    text-shadow: 2px 2px 4px var(--darker);
    text-align: left;
    width: 100%;
}

#initials {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    height: 4em;
    border-radius: 5px;
}

#submit-container {
    padding-top: 30px;
}

#submit-btn {
    background-color: var(--bright);
    color: var(--darker);
    border-color: var(--darker);
    border-radius: 10px;
    box-shadow: 0 0 20px var(--darker);
    font-size: 6vw;
    height: 2em;
    width: 80%;
}



/* @media screen and (min-width:480px) {

    
    .med-text {
        font-size: 2em;
    }

} */

/* @media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

} */